@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

html {
    scroll-behavior: smooth;
}

#inicio .contenido header {
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

#inicio .contenido header .contenido-header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#inicio .contenido header .contenido-header h1 {
    text-align: center;
    color: white;
}

#inicio .contenido header .contenido-header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

#inicio .contenido header .contenido-header nav ul li a {
    text-decoration: none;
    color: #fff;
    margin: 0 12px;
    font-weight: 400;
    transition: .5s;
}

#inicio .contenido header .contenido-header nav ul li a:hover {
    color: gold;
}


#inicio .contenido header .contenido-header .seleccionado {
    color: gold;
}


article {
    width: 95%;
    max-width: 800px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    margin: 5rem auto;
  }
  
  h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
  }
  
  .form__auth,
  .auth__buttons {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  input {
    width: 100%;
    height: 60px;
    border: 1px solid #000000;
    border-radius: 10px;
    padding-left: 1rem;
  }
  
  button {
    height: 50px;
    background:rgb(30, 144, 255);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
  }
  
  p {
    text-align: center;
    font-weight: 400;
  }
  
  .auth__register {
    background: black;
    
  }
  
  .password__container {
    width: 100%;
    height: 60px;
    border: 1px solid #000000;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .password__container input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
  }
  
  .password__container i {
    width: 60px;
    height: 60px;
    background-color: #f9d9da;
    z-index: 1;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }


footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

footer a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin: 5px;
    font-size: 26px;
}
.inicio{
    color: white ;
}

.registro{
    color: white ;
}




@media screen and (max-width: 800px) {
    .redes {
        display: none;
    }
    nav {
        display: none;
    }
    nav.responsive {
        display: block;
        background-color: rgba(0, 0, 0, .8);
        width: 100%;
        position: absolute;
        top: 48px;
        left: 0;
        padding: 10px 0;
    }
    nav.responsive ul {
        display: block !important;
        text-align: center;
    }
    nav.responsive ul li {
        margin: 5px 0;
}
    #icono-nav {
        display: block;
    }
    #inicio .contenido .presentacion h2 {
        font-size: 40px;
    }
  
    
}